.main-menu p.hovered {
	background: #454545;
	opacity: 0.8;
}

.main-menu p.hovered span {
	font-family: 'Roboto-Bold';
	color: #fff;
}

.main-menu p.actived span {
	font-family: 'Roboto-Bold';
	color: #fff;
}

.song-item.actived .details .song-name p {
	font-family: 'Roboto-Bold';
	color: #fff;
}

.song-item.focused {
	background: #454545;
	opacity: 0.8;
}

.block-close .inner-block > p b {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.close {
	background: #444;
}