* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul , ol {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	color: #fff;
	background: #fff;
	font-family: 'Roboto-Regular';
	font-size: 27px;
	color: #8f8f8f;
}

a, span {
	display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.thumb-img {
	padding-top: 100%;
	position: relative;
}

.thumb-img .global-figure {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.thumb-img .global-image {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #000;
	z-index: 2;
	outline: none!important;
}

.thumb-img .global-image span {
	display: block;
	width: 100%;
	height: 100%;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	transition: 400ms;
	border-radius: 3px;
}

.tv-body, .welcome-layer, .welcome-layer-1 {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-size: cover!important;
	background-position: center center!important;
}

.tv-body {
	z-index: 3;
}

.welcome-layer {
	background: url(../images/ic_welcome.jpg);
	z-index: 2;
}

#video {
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 100%!important;
	min-height: 100%!important;
	background: #000;
	z-index: -1;
	opacity: 0;
}

.main-block {
	position: absolute;
	top: 0;
	left: 0;
	height: 66.7%;
	width: 100%;
}

.top-panel {
	height: 110px;
	overflow: hidden;
	background: #212121;
}

.content {
	overflow: hidden;
}

.col-left {
	float: left;
	width: 30%;
}

.col-right {
	float: right;
	width: 70%;
}

.main-menu, .primary {
	height: 100%;
}

.menu {
	position: relative;
}

.menu {
	padding-left: 60px;
	margin-left: 20%;
}

.circle:before {
	content: '';
	width: 32px;
	height: 32px;
	background: #ea4336;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 3px;
}

.menu-1.circle:before {
	background: #29c83f;
}

.menu-2.circle:before {
	background: #ffc403;
}

.menu-3.circle:before {
	background: #2196f3;
}

.content {
	height: 600px;
}

.wi-icon:before {
	width: 32px;
	height: 32px;
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	background-size: cover!important;
}

.menu-4.wi-icon:before {
	background: url(../images/ic_connect.png);
}

.menu-5.wi-icon:before {
	background: url(../images/ic_rewind.png);
}

.menu-6.wi-icon:before {
	background: url(../images/ic_play.png);
	top: 2px;
}

.menu-7.wi-icon:before {
	background: url(../images/ic_information.png);
	top: 2px;
}

.top-panel .top-menu {
	margin-top: 40px;
}

.main-menu {
	background: rgba(0,0,0,0.8);
}

.main-menu p {
	padding: 25.5px 0 25px 0;
}


.main-menu p.active {
	background: rgba(34,34,34,0.5);
}

.main-menu p.active span {
	font-family: 'Roboto-Bold';
	color: #fff;
}


.primary {
	background: rgba(0,0,0,0.6);
}

.keyboard {
	height: 180px;
	text-align: center;
	padding-top: 8px;
	border-bottom: 1px solid #424242;
}

.keyboard span {
	width: 60px;
	height: 34px;
	border: 1px solid #424242;
	border-radius: 5px;
	margin-right: 2px;
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 3.5px;
}

.keyboard span.btn-number,
.keyboard span.btn-char {
	line-height: 35px;
	color: #8f8f8f;
	background: #424242;
}

.keyboard .btn-space {
	width: 73px!important;
	height: 34px!important;
	background: #424242;
}

.keyboard .btn-enter {
	background: #424242;
	text-indent: -9999px;
	position: relative;
}

.keyboard .btn-enter:before {
	content: '';
	background: url(../images/ic_backspace.png) no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 12px;
	top: 2px;
}

.btn-space.active,
.btn-number.active,
.btn-chars.active,
.keyboard span.active  {
	background: #fff!important;
	color: #000!important;
}

.song-list {
	height: 425px;
	overflow: hidden;
	margin-top: 25px;
}

.main-list {
	height: 10000px;
}

.song-item {
	position: relative;
}

.song-item.focused {
	background: rgba(34,34,34,0.5);
}

.song-item .details {
	overflow: hidden;
	margin-left: 45px;
	padding: 15px 0 10px 0;
}

.song-item .details .song-img {
	width: 80px;
	float: left;
	margin-right: 50px;
}

.song-item .details .song-img img {
	max-width: 100%;
}

.song-item .details .song-name {
	width: 800px;
	float: left;
	padding-top: 12px;
}

.song-item .details .song-name p {
	max-width: 100%;
	text-overflow: ellipsis;
	height: 36px;
	white-space: nowrap;
	overflow: hidden;
}

.song-item.focused .details .song-name p {
	font-family: 'Roboto-Bold';
	color: #fff;
}

.song-item .action {
	float: right;
	margin-top: 18px;
	margin-right: 130px;
}

.song-item .action li {
	display: inline-block;
}

.action .add-list {
	width: 20px;
	height: 26px;
	background: url(../images/ic_bookmark.png) no-repeat;
	background-size: cover;
	margin-right: 80px;
}

.action .add-list.active {
	background: url(../images/ic_bookmark_active.png) no-repeat;
	background-size: cover;
}

.action .add-like {
	width: 25px;
	height: 23px;
	background: url(../images/ic_heart.png) no-repeat;
	background-size: cover;
}

.action .add-like.active {
	background: url(../images/ic_heart_active.png) no-repeat;
	background-size: cover;
}

.user-action {
	margin-left: 45px;
	overflow: hidden;
	border-top: 1px solid #111;
	padding: 16px 0;
	display: none;
}

.song-item.active .user-action {
	display: block;
}

.user-action li {
	float: left;
	width: 375px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	margin-right: 22px;
}

.user-action li:last-child {
	margin-right: 0;
}

.user-action li span {
	position: relative;
	padding-left: 50px;
}

.user-action li span:before {
	content: '';
	position: absolute;
	background-size: cover!important;
}

.user-action .active {
	background: rgba(37,37,37,0.7);
}

.user-action  span {
	color: #fff;
}

.user-action .play span:before {
	background: url(../images/ic_play.png) no-repeat;
	width: 32px;
	height: 32px;
	top: 50%;
	margin-top: -16px;
	left: 0;
}

.user-action .play.active span:before {
	background: url(../images/ic_play_active.png) no-repeat;
}

.user-action .add-list span:before {
	width: 20px;
	height: 26px;
	background: url(../images/ic_bookmark.png) no-repeat;
	top: 50%;
	margin-top: -12px;
	left: 0;
}

.user-action .add-list.active span:before {
	background: url(../images/ic_bookmark_active.png) no-repeat;
}

.user-action .add-like span:before {
	width: 25px;
	height: 23px;
	background: url(../images/ic_heart.png) no-repeat;
	top: 50%;
	margin-top: -11px;
	left: 0;
}

.user-action .add-like.active span:before {
	background: url(../images/ic_heart_active.png) no-repeat;
}

.search-area {
	padding: 32px 130px 0 45px;
}

.search-area input {
	text-align: center;
	width: 100%;
	height: 50px;
	background: #252525;
	border: none;
	font-size: 25px;
}

.search-area .search-text {
	position: relative;	
}

.search-area .search-text:after {
	content: '';
	background-size: cover!important;
	background: url(../images/ic_search.png) no-repeat;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: -12px;
}

.search-area .search-text.active:after {
	background: url(../images/ic_search_active.png) no-repeat;
}

.search-area .search-text.active input {
	background: #333;
}

.search-area input::-webkit-input-placeholder { 
  	color: #8f8f8f;
}

.search-area input::-moz-placeholder {
  	color: #8f8f8f;
}

.search-area input:-ms-input-placeholder { 
  	color: #8f8f8f;
}

.search-area input:-moz-placeholder { 
  	color: #8f8f8f;
}

.search-area .search-text.active input::-webkit-input-placeholder {
	color: #fff;
}

.search-area .search-text.active input::-moz-placeholder {
  	color: #fff;
}

.search-area .search-text.active input:-ms-input-placeholder { 
  	color: #fff;
}

.search-area .search-text.active input:-moz-placeholder { 
  	color: #fff;
}

.numbers {
	margin-top: 50px;
	display: none;
}

.block-connect {
	padding: 0 100px;
}

.block-connect > p {
	line-height: 40px;
	margin: 30px 0;
}

.block-connect p img {
	max-width: 40px;
	margin: 0 10px;
	position: relative;
	top: 10px;
}

.block-action .app {
	width: 760px;
	float: left;
	overflow: hidden;
	position: relative;
}

.block-action .app:after {
	position: absolute;
	width: 1px;
	height: 200px;
	content: '';
	background: url(../images/sep_line.png) no-repeat;
	right: 0;
	top: 55px;
	background-size: cover!important;
}

.block-action .app-item {
	float: left;
	width: 306px;
}

.block-action .app-item:first-child {
	margin-right: 70px;	
}

.block-action .app-item img,
.block-action .connect img {
	border-radius: 7px;
	margin-bottom: 20px;
	max-width: 306px;
}

.block-action .connect {
	width: 306px;
	float: right;
}

.desc span {
	margin-bottom: 15px;
}

.desc p {
	font-size: 17px;
}

.app-item.active .desc > * {
	color: #fff;
}

.loader {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.loader .load {
	position: absolute;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	margin-top: -32px;
	margin-left: -32px;
}

.search-area {
	overflow: hidden;
}

.search-area .song-name {
	width: 800px;
	float: left;
	position: relative;
	padding-left: 50px;
}

.search-area .song-name p {
	max-width: 100%;
	height: 45px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.search-area .song-name:before {
	content: '';
	width: 33px;
	height: 45px;
	background-size: cover!important;
	background: url(../images/ic_music_note.png) no-repeat;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -28px;
}

.search-area .list-wait {
	float: right;
}

.search-area .list-wait span {
	position: relative;
	padding-left: 55px;
}

.search-area .list-wait span:before {
	content: '';
	width: 35px;
	height: 45px;
	background-size: cover;
	background: url(../images/ic_bookmark_number.png) no-repeat;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -22px;
}

.top-panel.active .search-area {
	padding-top: 38px;
}

.prior span:before {
	background: url(../images/ic_star.png) no-repeat;
    width: 32px;
    height: 31px;
    top: 50%;
    margin-top: -16px;
    left: 0;
}

.prior.active span:before {
	background: url(../images/ic_star_active.png) no-repeat;
}

.remove-list span:before {
	background: url(../images/ic_bookmark_off.png) no-repeat;
    width: 32px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
    left: 0;
}

.remove-list.active span:before {
	background: url(../images/ic_bookmark_off_active.png) no-repeat;
}

.remove-like span:before {
	background: url(../images/ic_heart_off.png) no-repeat;
    width: 32px;
    height: 29px;
    top: 50%;
    margin-top: -14px;
    left: 0;
}

.remove-like.active span:before {
	background: url(../images/ic_heart_off_active.png) no-repeat;
}

.pass-connect {
	text-align: center;
	padding-bottom: 20px;
}

.app-item-sp {
	margin-top: -95.5px;
}

.pass-connect span {
	margin-bottom: 10px;
}

.pass-connect input {
	display: block;
	width: 150px;
	border: none;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	color: #8f8f8f;
	font-size: 25px;
}

.tv-body.close {
	background: #444;
}

.block-close {
	width: 100%;
	height: 100%;
	padding: 150px;
}

.block-close .inner-block {
	background: #222;
	height: 100%;
	position: relative;
}

.block-close .inner-block > p {
	position: absolute;
	top: 20px;
	padding: 0 30px;
	width: 100%;
}

.block-close .inner-block > p span {
	display: block;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.block-close .inner-block .table {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
}

.block-close .inner-block .table-cell {
	display: table-cell;
	vertical-align: middle;
}

.block-close ul {
	overflow: hidden;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.block-close ul li {
	float: left;
}

.block-close ul li:first-child {
	margin-right: 10px;
}

.block-close ul li span {
	padding: 10px 30px;
}

.block-close ul li .active {
	background: #fff;
	color: #222;
}

.block-guide {
	text-align: center;
	margin-top: 25px;
}


@media screen and (max-width: 1367px) {
	body {
		font-size: 20px;
	}

	.top-panel {
		height: 80px;
	}

	.circle:before {
		width: 20px;
		height: 20px;
	}

	.top-panel .top-menu {
		margin-top: 28px;
	}

	.menu {
		padding-left: 40px;
	}

	.wi-icon:before {
		width: 20px;
		height: 22px;
	}

	.search-area {
		padding-top: 25px;
		padding-right: 90px;
	}

	.search-area .song-name {
		width: 570px;
		padding-left: 30px;
	}

	.search-area .song-name:before {
		width: 20px;
		height: 27px;
		margin-top: -23px;
	}

	.top-panel.active .search-area {
		padding-top: 28px;
		padding-right: 90px;
	}

	.search-area .list-wait span {
		padding-left: 35px;
	}

	.search-area .list-wait span:before {
		width: 20px;
		height: 26px;
		background-size: cover;
		margin-top: -13px;
	}

	.song-item .action {
		margin-right: 90px;
	}

	.search-area input {
		height: 35px;
		font-size: 18px;	
	}

	.search-area .search-text:after {
		margin-left: -150px;
		width: 18px;
		height: 18px;
		margin-top: -8px;
	}

	.content {
		height: 415px;
	}

	.main-menu p {
		padding: 17px 0 16px;
	}

	.keyboard {
		height: 110px;
	}

	.keyboard .chars span {
		width: 40px;
		height: 21px;
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 0;

		margin-top: 4.5px;
		margin-right: 4.5px;
		/* margin-bottom: 2px; */
	}

	.keyboard span.btn-number, .keyboard span.btn-char {
		line-height: 20px;
	}

	.keyboard .btn-space {
		width: 50px!important;
		height: 21px!important;
	}

	.keyboard .btn-enter:before {
		width: 18px;
		height: 18px;
		left: 8px;
		top: 0.5px;
	}

	.keyboard span {
		margin-right: 2px;
	}

	.keyboard {
		padding: 1px 0 0 0;
	}

	.song-item .details,
	.user-action {
		margin-left: 32px;
	}

	.song-list {
		margin-top: 15px;
	}

	.song-item .details .song-img {
		margin-right: 20px;
	}

	.song-item .details .song-name {
		width: 570px;
		padding-top: 7px;
	}

	.action .add-list {
		margin-right: 45px;
	}

	.action .add-list,
	.user-action .add-list span:before {
		width: 17px;
		height: 22px;
	}

	.action .add-like,
	.user-action .add-like span:before {
		width: 20px;
		height: 18px;
		margin-top: -9px;
	}

	.user-action li {
		width: 265px;
		height: 40px;
		margin-right: 20px;
		line-height: 40px;
	}

	.user-action li span {
		font-size: 17px;
	}

	.user-action .play span:before {
		width: 26px;
		height: 26px;
		margin-top: -13px;
	}

	.user-action li span {
		padding-left: 35px;
	}

	.user-action,
	.song-item .details {
		padding: 12px 0 6px 0;
	}

	.numbers {
		margin-top: 33px;
	}

	.song-item .details .song-img {
		width: 60px;
	}

	.song-item .action {
		margin-top: 13px;
	}

	.block-connect {
		padding: 0 70px;
	}

	.block-action .app {
		width: 540px;
	}

	.block-action .connect {
		width: 215px;
	}

	.block-action .app-item img, .block-action .connect img {
		max-width: 215px;
	}

	.block-action .app-item {
		width: 215px;
	}

	.block-action .app-item:first-child {
		margin-right: 50px;
	}

	.block-action .app:after {
		top: 15px;
	}

	.block-connect > p {
		margin: 20px 0;
	}

	.block-action .app-item img, .block-action .connect img {
		margin-bottom: 10px;
	}

	.desc span {
		margin-bottom: 10px;
	}

	.desc p {
		font-size: 15px;
	}

	.block-connect p img {
		top: 12px;
	}

	.prior span:before {
		width: 20px;
		height: 20px;
		margin-top: -10px;
	}

	.remove-list span:before {
		width: 24px;
		height: 24px;
		margin-top: -12px;
	}

	.remove-like span:before {
		width: 20px;
		height: 18px;
		margin-top: -8px;
	}

	.app-item-sp {
		margin-top: -86.5px;
	}

	.block-close {
		padding: 100px;
	}

	.block-guide img {
		max-width: 720px;
	}
}

@media screen and (max-width: 1280px) {
	.top-panel {
		height: 65px;
	}

	.top-panel .top-menu {
		margin-top: 20px;
	}

	.search-area {
		padding-top: 16px;
	}

	.top-panel.active .search-area {
		padding-top: 20px;
	}

	.block-action .app-item {
		width: 205px;
	}

	.block-action .app-item img, .block-action .connect img {
		max-width: 205px;
	}

	.block-connect {
		padding: 0 65px;
	}

	.block-action .app {
		width: 510px;
	}

	.block-action .app:after {
		top: 0px;
	} 


	.keyboard {
		padding: 0;
	}	
	
}

.text-info {
	background: #111;
	position: fixed;
	bottom: 30px;
	left: 50%;
	padding: 15px 20px;
	color: #fff;
	width: 650px;
    margin-left: -325px;
}

.text-info {
    visibility: visible;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
	text-align: center;
}

.welcome-layer-1 {
	background: url(../images/intro_karaoke_plus.jpg) no-repeat;
	z-index: 4;
}