<p onclick="songList.trendingShow()"><span class="menu menu-1 circle">Nổi bật</span></p>
<p onclick="songList.bookMarkShow()"><span class="menu menu-2 circle">Yêu thích</span></p>
<p onclick="songList.sequenceShow()"><span class="menu menu-3 circle">Danh sách chờ</span></p>
<p onclick="connection.show()"><span class="menu menu-4 wi-icon">Kết nối với điện thoại</span></p>
<p onclick="video.nextSong()"><span class="menu menu-5 wi-icon">Chuyển bài</span></p>
<p onclick="video.pauseOrPlayVideo()"><span class="menu menu-6 wi-icon">Phát/Tạm ngừng</span></p>
<p onclick="guide.show()"><span class="menu menu-7 wi-icon">Hướng dẫn</span></p>
