<div class="block-close">
    <div class="inner-block">
        <p>
            <b>Thoát ứng dụng</b>
        </p>
        <div class="block-text table">
            <div class="table-cell">
                <p>Bạn có muốn thoát khỏi ứng dụng này?</p>
            </div>
        </div>
        <ul>
            <li onclick="closeApp.cancelClose()">
                <span>Hủy</span>
            </li>
            <li onclick="closeApp.okClose()">
                <span>Thoát ứng dụng</span>
            </li>
        </ul>
    </div>
</div>