<div class="block-connect">
    <p>Tải ứng dụng
        <img src="images/app_icon.png" alt="">
        Karaoke Plus Remote
    </p>
    <div class="block-action">
        <div class="app">
            <div class="app-item">
                <img src="images/ios.jpg" alt="">
                <div class="desc">
                    <span>Tải ứng dụng iOS</span>
                    <p>Scan để tải ứng dụng hoặc<br>
                        tìm kiếm trên App Store
                    </p>
                </div>
            </div>
            <div class="app-item">
                <img src="images/android.png" alt="">
                <div class="desc">
                    <span>Tải ứng dụng Android</span>
                    <p>Scan để tải ứng dụng hoặc<br>
                        tìm kiếm trên CH Google Play
                    </p>
                </div>
            </div>
        </div>
        <div class="app-item app-item-sp connect active">
            <div class="pass-connect">
                <span>Mã kết nối</span>
                <input id="textConnect" type="text" value=""/>
            </div>
            <img id="imageConnect" src="" />
            <div class="desc">
                <span>Kết nối</span>
                <p>Scan để kết nối<br>
                    sau khi tải ứng dụng
                </p>
            </div>
        </div>
    </div>
</div>