<div class="top-menu col-left">
    <span class="menu circle">Ẩn menu</span>
</div>
<div class="search-area col-right">
    <div class="search-text">
        <input type="text" id="textSearch" placeholder="Tìm kiếm bài hát từ YouTube" />
    </div>							
</div>

