<div class="welcome-layer-1"></div>
<div class="welcome-layer"></div>
<div id="main-body" class="tv-body">
    <div id="main-content" class="main-block">
        <div class="top-panel"></div>
        <div class="content">
            <div class="main-menu col-left">
            </div>
            <div class="primary col-right">
                <div class="keyboard">
                </div>
                <div class="song-list">
                </div>
            </div>
        </div>
    </div>
    <div class="text-info" style="display:none">
        <p></p>
    </div>
    <div class="block-close" style="display: none">
        <div class="inner-block">
            <p>
                <b>Thoát ứng dụng</b>
            </p>
            <div class="block-text table">
                <div class="table-cell">
                    <p>Bạn có muốn thoát khỏi ứng dụng này?</p>
                </div>
            </div>
            <ul id="actionClose">
                <li onclick="closeApp.cancelClose()">
                    <span>Hủy</span>
                </li>
                <li onclick="closeApp.okClose()">
                    <span>Thoát ứng dụng</span>
                </li>
            </ul>
        </div>
    </div>
</div>


